header {
    background: #bbbbbb;
    padding: 20px 0;
}

.header-box {
    position: relative;
    width: 940px;
    margin: 0 auto
}

nav {
    position: absolute;
    top: 120px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}